<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <div>

    </div>
    <h2>Users</h2>
    <div>
        <tr th:if="${Users.isEmpty()}">
            <td> No User Available </td>
        </tr>
    </div>
    <table  border="2px black" style="width:70%">
        <tr>
            <th> Name </th>
            <th> password </th>
            <th> email </th>
        </tr>
        <tbody>
        <tr th:each="user : ${Users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <form action="/user" method="get" style="width: 100%">
                    <input type="hidden" name="name" th:value="${user.getName()}">
                    <input type="submit" value="look" style="width: 100%">
                </form>
            </td>
            <td>
                <form action="/admin/change" method="get" style="width: 100%">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" value="change" style="width: 100%">
                </form>
            </td>
            <td>
                <form action="/admin/delete" method="get" style="width: 100%">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" value="delete" style="width: 100%">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <form action="/admin/addUser" method="get">
        <input type="submit" value="add User">
    </form>
    <p></p>
    <form action="/logout"><input type="submit" value="Log Out"></form>
</div>
</body>
</html>